* {
    font-family: sans-serif;
    color: #e0dad9;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #232F33;
}
.remove-all-styles {
    all: revert;
}

.footer {
    margin-top: 25px;
    height: 75px;
    background-color: #37494f;
}

.index_img {
    margin-top: 35px;
}